@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface: 255 255 255;
    --surface-alt: 243 244 246;
    --foreground: 17 24 39;
    --foreground-sub: 75 85 99;
    --foreground-muted: 107 114 128;
    --line: 229 231 235;
    --line-alt: 209 213 219;
  }

  .dark {
    --surface: 0 0 0;
    --surface-alt: 0 0 0;
    --foreground: 255 255 255;
    --foreground-sub: 209 213 219;
    --foreground-muted: 156 163 175;
    --line: 31 41 55;
    --line-alt: 55 65 81;
  }
}
